.content-contact {
    margin-bottom: 60px;
    
    .container {
        padding: 0;
        @include media-breakpoint-down(md) {
            padding: 0px 23px;
            
            }
        h2 {
            font-size: 34px;
            letter-spacing: 3.4px;
            font-weight: 600;
            margin-bottom: 35px;

            @include media-breakpoint-down(md) {
                font-size: 27px;
                letter-spacing: 2.7px;
                word-break: break-all;
                }
            
            }

        .content {
            h3 {
                font-size: 22px;
                letter-spacing: 2.2px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            h4 {
                font-size: 22px;
                letter-spacing: 2.2px;
                margin-bottom: 10px;
            }

            .map {

                @include media-breakpoint-down(md) {
                    padding: 0;
                    }

                h3 {
                    @include media-breakpoint-down(md) {
                        padding: 0 12px;
                        }
                }
                
                .map-wrapper {
                    width: 100%;
                    height: 361px;
                    background-image: url("../img/pictures/maps.png");
                    background-size: contain;
                    position: relative; 
                                      
                    
                    .alert {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 1px $brand-red solid;
                        background-color: #ffffff9c;

                        p {
                            margin-bottom: 10px;

                            @include media-breakpoint-down(lg) {
                                font-size: 15px;
                                letter-spacing: 0.45px;
                                }
                        }
                        
                        span {
                            text-decoration: underline;
                        }
                    }

                    

                    .pointer {
                        position: absolute;
                        top: 30px;
                        left: 30%;
                    }
                    
                }


                footer {
                    display: flex;
                    justify-content: center;
                    margin-top: 18px;
                    position: relative;

                    .btn-maps {
                        display: none;
                        position: absolute;
                        
                        padding: 13px 0px;
                        
                    }

                    .alert {
                        position: absolute;
                        width: 321px;
                        padding: 13px 0px;
                        display: block;
                        
                    }

                }
            }

            .ouverture {
                @include media-breakpoint-down(lg) {
                    padding-top: 100px ;
                    }

                 .jour {

                    @include media-breakpoint-down(md) {
                        font-weight: 700;
                    }
                 }
            }
        }
    } 
}