.content-img-slider {
    margin-top: 200px;
    margin-bottom: 100px;

    @include media-breakpoint-down(md) {
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .container {      
        padding: 0;

        @include media-breakpoint-down(md) {
            padding: 0px 12px;
         }
        .row {
            
            .image-wrapper {
                position: absolute;
                left: 0;
                padding: 0;
                height: 783px;
                background-image: url("../img/pictures/ISUZU-D-MAX-Geschaeftskunden-Flottenkunden.webp");
                background-size: cover;
                background-position: center;
                @include media-breakpoint-down(md) {
                    height: 460px;
                    right: 0;
                 }

                &::after {
                    content: "";
                    width: 150px;
                    height: 101%;
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    background-image: url("../img/pictures/bloc-sep-1.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top;

                    @include media-breakpoint-down(md) {    

                        display: none;

                    }
                } 
            }
            .title-wrapper {
                padding: 0;
                position: relative;
                left: 0;
                
                h2 {
                    font-size: 34px;
                    font-family: $font-face-title;
                    font-weight: bold;
                    letter-spacing: 6.8px;
                    color: white;
                    margin-top: 83px;
                    padding: 0px 12px;

                    @include media-breakpoint-down(md) {
                        font-size: 25px;
                        letter-spacing: 5px;
                        text-align: center;
                        padding: 0;

                       
                     }
                    
                }
                

            }


            .slider {
                display: flex;
                justify-content: center;              
                align-items: center;
                position: relative;
                padding: 0;

                &::after {
                    content: "";
                    height: 100%;
                    width: 150px;
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    
                    background-image: url("../img/pictures/bloc-sep-1.svg");
                    background-color: red;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top;
                    
                }
                
                .previous {
                    position: absolute;
                    left: 0;
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                
                }

                .content {
                    padding-left: 60px;
                    @include media-breakpoint-down(md) {
                        margin-top: 400px;
                        padding: 0px 23px;
                    }

                    h2 {
                        color: $brand-grey-dark;
                        font-size: 34px;
                        letter-spacing: 3.4px;
                        margin-bottom: 33px;
                        font-weight: 600;

                        @include media-breakpoint-down(md) {
                            font-size: 27px;
                            letter-spacing: 2.7px;
                            text-align: center;
                            display: flex;
                            align-items:center ;
                            justify-content:center ;
                            
                            &::after {
                                content: "";
                                width: 17px;
                                height: 20px;    
                                margin-left: 12px;                                                           
                                background-image: url("../img/vectors/chevron.svg") ;
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }

                            &::before {
                                content: "";
                                width: 17px;
                                height: 20px;  
                                margin-right: 12px;                                                             
                                background-image: url("../img/vectors/chevron-left.svg") ;
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }
                         }

                         
                    }
    
                    p {
                        letter-spacing: 0.54px;
                        @include media-breakpoint-down(md) {
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 1.12px;
                        }
    
                    }
    
                    footer {
                        margin-top: 35px;

                        @include media-breakpoint-down(md) {
                            display: flex;
                            justify-content: center;
                        }
                    }

                    

                }

                .next {
                    position: absolute;
                    right: -40px;
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                    
                }




            }
        }
    }
}