.content-img-slider {
    margin-top: 200px;
    margin-bottom: 100px;
    .container {      
        padding: 0;
        .row {
            height: 783px;

            .image-wrapper {
                position: absolute;
                left: 0;
                padding: 0;
                height: 783px;
                background-image: url("../img/pictures/ISUZU-D-MAX-Geschaeftskunden-Flottenkunden.webp");
                background-size: cover;
                background-position: center;

                &::after {
                    content: "";
                    width: 150px;
                    height: 101%;
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    background-image: url("../img/pictures/bloc-sep-1.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top;
                } 
            }
            .title-wrapper {
                padding: 0;
                position: relative;
                left: 0;
                
                h2 {
                    font-size: 34px;
                    font-family: $font-face-title;
                    font-weight: bold;
                    letter-spacing: 6.8px;
                    color: white;
                    margin-top: 83px;
                    padding: 0px 12px;
                    
                }
                

            }


            .slider {
                display: flex;
                justify-content: center;              
                align-items: center;
                position: relative;
                padding: 0;

                
                .previous {
                    position: absolute;
                    left: 0;
                }

                .content {
                    padding-left: 60px;

                    h2 {
                        color: $brand-grey-dark;
                        font-size: 34px;
                        letter-spacing: 3.4px;
                        margin-bottom: 33px;
                        font-weight: 600;
                    }
    
                    p {
                        letter-spacing: 0.54px;
    
                    }
    
                    footer {
                        margin-top: 35px;
                    }

                    

                }

                .next {
                    position: absolute;
                    right: -40px;
                    
                }




            }
        }
    }
}