.footer {
    margin-top: 130px;
    @include media-breakpoint-down(md) {
        margin-top: 60px;
    }
    .link {
        display: flex;     
        justify-content: center ;
        align-items: center;

        p {
            margin: 0;
            margin-right: 10px;
            font-size: 14px;

            span {
                font-weight: bold;
            }
        }
        
        @include media-breakpoint-down(md) {
            display: none;
        }

    }

    .nav {
        margin-top: 90px;
        margin-bottom: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        @include media-breakpoint-down(md) {
            margin-top: 0;
            margin-bottom: 20px;
            justify-content: start;
            align-items: start;
        }

        ul {
            margin-top: 35px;
            display: flex;
            list-style: none;

            @include media-breakpoint-down(md) {
                flex-direction: column;
                padding: 0;
            }

            li {
                font-family: $font-face-title;
                font-weight: 600;
                letter-spacing: 0.9px;
                font-size: 18px;
                margin-right: 35px;
                @include media-breakpoint-down(md) {
                    margin-bottom: 35px;
                }

            }
        }
    }
    .colophon {
        display: flex;
        justify-content: end;
        align-items: end;
        flex-direction: column;

        @include media-breakpoint-down(md) {
            justify-content: center;
            align-items: center;
        }
        
        .boteca {
            padding-right: 20px;
            padding-bottom: 30px;

            @include media-breakpoint-down(md) {
                margin-bottom: 60px;
            }
        }

        .container { 
            margin-bottom: 50px;
            
            .content {
                display: flex;
                justify-content: center;
                border-top: 1px solid $brand-grey-light;
                width: 100%;

                @include media-breakpoint-down(md) {
                    flex-direction: column;
                }

                p {
                    margin-bottom: 0;
                    margin-top: 35px;
                    margin-right: 20px;
                    font-size: 14px;

                    @include media-breakpoint-down(md) {
                        text-align: center;
                        margin-top: 12px;
                    }

                    span {
                        @include media-breakpoint-down(md) {
                            display: none;
                        }
                    }
                }
        
                .link2 {
                    margin-top: 32px;
                    
                    display: flex;

                    @include media-breakpoint-down(md) {
                        justify-content: center;
                        margin-top: 12px;
                    }
                }

            }

        }

    }

}

.reseau {
    width: 32px;
    height: 32px;
    background-color: $brand-grey-light ;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
    justify-content: center;
    align-items: center;
        
    }

    &:hover {
        background-color: $brand-red;
    }
}