.loop-intro {
    position: relative;
        video {           
            height: 100vh;
            width: 100%;
            object-fit: cover;
            position: static;
        }

        .container {
            color: white;
            padding: 0;
            .title-wrapper {
                position: absolute;
                top: 45%;                             
                text-transform: uppercase;
                                 


                h1 {
                    font-family: $font-face-title;
                    font-weight: bold; 
                    font-size: 55px;
                    letter-spacing: 11px;
                    color: white;
                    @include media-breakpoint-down(sm) {
                        font-size: 34pt ;
                        letter-spacing: 3.4pt;
                    }
                    
                }

                h2 {
                    font-family: $font-face-title;
                    font-weight: bold; 
                    font-size: 48px;
                    letter-spacing: 9.6px;
                    color: white;

                }
            }
            
            .image-wrapper {
                position: absolute;
                bottom: 51px;
                left: 50%;
            }
        }
    
}