.loop-intro {
    position: relative;
        video {           
            height: 100vh;
            width: 100%;
            object-fit: cover;
            position: static;
        }

        .container {
            color: white;
            padding: 0;
            @include media-breakpoint-down(sm) {
                padding: 0px 23px;
            }
            .title-wrapper {
                position: absolute;
                top: 45%;                             
                text-transform: uppercase;
                                 


                h1 {
                    font-family: $font-face-title;
                    font-weight: bold; 
                    font-size: 55px;
                    letter-spacing: 11px;
                    color: white;
                    @include media-breakpoint-down(md) {
                        font-size: 42px ;
                        letter-spacing: 5px;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 34px ;
                        letter-spacing: 3.4px;
                    }
                    
                }

                h2 {
                    font-family: $font-face-title;
                    font-weight: bold; 
                    font-size: 48px;
                    letter-spacing: 9.6px;
                    color: white;
                    @include media-breakpoint-down(md) {
                        font-size: 32px ;
                        letter-spacing: 4px;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 25px ;
                        letter-spacing: 2.5px;
                    }

                }
            }
            
            .image-wrapper {
                position: absolute;
                bottom: 51px;
                left: 50%;
                
                @include media-breakpoint-down(sm) {
                    bottom: 100px;
                    left: 47%;
                }
            }
        }
    
}